.navigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: darkgrey;
    padding: 1%;
}

.logotype {
    width: 100px;
    cursor: pointer;
}

.headerTitle {
    grid-column: 5/7;
    text-align: center;   
}

.signin {
    cursor: pointer;
    grid-column: 10/11;
    justify-self: centeR;
    align-self: center;
}